.ScrollBerNone::-webkit-scrollbar {
    width: 0px; /*.ScrollBerNone Width of the entire scrollbar */
}

.ScrollBerNone::-webkit-scrollbar-track {
    background: #f1f1f1; /*.ScrollBerNone Color of the tracking area */
}

.ScrollBerNone::-webkit-scrollbar-thumb {
    background-color: #888; /*.ScrollBerNone Color of the scrollbar handle */
    border-radius: 6px; /*.ScrollBerNone Roundness of the scrollbar handle */
}

.ScrollBerNone::-webkit-scrollbar-thumb:hover {
    background-color: #555; /*.ScrollBerNone Color of the scrollbar handle on hover */
}